.header {
  background-color: var(--background);
}
.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
  justify-content: space-evenly;
}

.link {
  display: flex;
  text-decoration: none;
  color: var(--text-inactive-color);
  gap: 10px;
  align-items: center;
}

.link_active {
  color: var(--text-primary-color);
}

.link_position_last {
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.menu_part_left > div,
.logo,
.link_position_last {
  cursor: pointer;
  display: flex;
}
p {
 font-family: 'Jet Brains Mono'
}
